################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/congestion-tax-calculater-my-git/FileContentIndex
/.vs/slnx.sqlite
